.wrap {
  position: relative;
  left: 202px;
  width: 1824px;
  height: 812px;
  opacity: 0.1;
  background: #B1B1B1;
}

.topbar {
  position: absolute;
  left: 202px;
  width: 1824px;
  height: 88px;
}

.info {
  position: absolute;
  top: -779px;
  left: 38px;
  width: 168px;
  height: 30px;
  /* 20/20 Bold */
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height, or 150% */
  /* Orange/$-Orange-400 */
  color: #FF9138;
  /* Inside auto layout */
}

.logo {
  position: absolute;
  top: -779px;
  left: 1479px;
}

.logo-avatar {
  position: absolute;
  top: -779px;
  left: 1479px;
}

.hello {
  position: absolute;
  width: 47px;
  height: 18px;
  right: 176px;
  top: -785px;
  /* 12/12 Reg */
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height, or 150% */
  /* Gray/$-gray-300 */
  color: #7E7D88;
}

.username {
  position: absolute;
  width: 135px;
  height: 18px;
  right: 77px;
  left: 1601px;
  top: -769px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  /* Gray/$-gray-400 Text */
  color: #535261;
}

.infoNameid {
  position: absolute;
  width: 1665px;
  height: 451px;
  left: 224px;
  top: 168px;
  /* White */
  background: #FFFFFF;
  box-shadow: 0px 2px 6px rgba(219, 219, 219, 0.5);
  border-radius: 12px;
}

.infoNameid-img {
  background-image: url(../../img/unsplash_Fyl8sMC2j2Q.jpg);
  width: 248px;
  height: 248px;
  position: absolute;
  left: 24px;
  top: 40px;
}

.infoNameid-name {
  position: absolute;
  width: 186px;
  height: 36px;
  left: 55px;
  top: 307px;
  /* 24/24 Bold */
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height, or 150% */
  display: flex;
  align-items: center;
  /* Gray/$-gray-500 */
  color: #282739;
}

.infoNameid-name-second {
  width: 113px;
  height: 24px;
  /* 16/16 Semi */
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  /* Gray/$-gray-500 */
  color: #282739;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.infoNameid-block {
  position: absolute;
  width: 384px;
  height: 76px;
  left: 296px;
  top: 40px;
}

.display {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 16px;
  gap: 10px;
  position: absolute;
  width: 384px;
  height: 34px;
  left: 4px;
  top: 40px;
  background: #EAEAEC;
  border-radius: 6px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  /* Gray/$-gray-400 Text */
  color: #535261;
  opacity: 0.5;
}

.phoneNumber-block {
  position: absolute;
  width: 384px;
  height: 76px;
  left: 296px;
  top: 140px;
}
