.servicepage {
    position: relative;
    left: 202px;
    width: 1824px;
    height: 812px;
    opacity: 0.1;
    background: #B1B1B1;
    display: flex;
    z-index: 1;
}

.topbar {
    position: relative;
    width: 1825px;
    height: 88px;
    left: 0px;
    top: 0px;
    z-index: 2;
}

.device-text {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #7E7D88;
    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 10;
    position: absolute;
    top: -794px;
    left: 218px;
}

.logo-next {
    position: absolute;
    top: -784px;
    left: 303px;
}

.device-index {
    position: absolute;
    top: -794px;
    left: 323px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */
    /* Orange/$-Orange-500 */
    color: #FF7506;
}

.img-bar {
    background-image: url(../../../img/unsplash_Fyl8sMC2j2Q.png);
    width: 40px;
    height: 40px;
    right: 27px;
    top: -804px;
    position: absolute;
}

.hello-bar {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #7E7D88;
    width: 56px;
    height: 40px;
    right: -41px;
    top: -804px;
    position: absolute;
}

.name-bar {
    width: 135px;
    height: 40px;
    right: -119px;
    top: -787px;
    position: absolute;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #535261;
}

.device-index {
    position: absolute;
    top: -794px;
    left: 323px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */
    /* Orange/$-Orange-500 */
    color: #FF7506;
}

.device-index-S {
    position: absolute;
    width: 200px;
    height: 36px;
    left: 221px;
    top: -723px;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #FF7506;
}

.status {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #282739;
    position: absolute;
    width: 200px;
    height: 36px;
    left: 221px;
    top: -674px;
}

.status-block {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 12px;
    gap: 24px;
    position: absolute;
    width: 300px;
    height: 44px;
    left: 219px;
    top: -644px;
    background: #FFFFFF;
    border: 1.5px solid #D4D4D7;
    border-radius: 8px;
}

.status-connect {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #282739;
    position: absolute;
    width: 200px;
    height: 36px;
    left: 550px;
    top: -674px;
}

.select-timer {
    position: absolute;
    width: 106px;
    height: 24px;
    left: 548px;
    top: -672px;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #282739;
}

.keyword {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #282739;
    position: absolute;
    width: 200px;
    height: 36px;
    left: 1667px;
    top: -674px;
}

.keyword-search {
    position: absolute;
    width: 300px;
    height: 44px;
    left: 1667px;
    top: -644px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 16px 10px 12px;
    gap: 10px;
    background: #FFFFFF;
    border: 1.5px solid #D4D4D7;
    border-radius: 8px;
}

.keyword-search-logo {
    position: absolute;
    height: 44px;
    left: 1933px;
    top: -644px;
}

.content-block {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 1739px;
    height: 490px;
    left: 224px;
    top: 244px;
    filter: drop-shadow(2px 2px 8px rgba(232, 239, 244, 0.8));
    border-radius: 12px;
    z-index: 10;
}

.column-block-one {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 103px;
    height: 490px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.content-column-one {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 8px 0px 16px;
    gap: 10px;
    width: 103px;
    height: 49px;
    /* Orange/$-Orange-400 */
    background: #FF9138;
    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    /* White */
    color: #FFFFFF;
}

.content-column-two {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 8px 0px 16px;
    gap: 10px;
    width: 103px;
    height: 49px;
    /* White */
    background: #FFFFFF;
    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height, or 150% */
    /* Gray/$-gray-400 Text */
    color: #535261;
}

.content-column-three {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 8px 0px 16px;
    gap: 10px;
    width: 103px;
    height: 49px;
    /* Orange/$-Orange-50 */
    background: #FFF2E7;
    /* Inside auto layout */
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height, or 150% */
    /* Gray/$-gray-400 Text */
    color: #535261;
}

.content-column-four {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 8px 0px 16px;
    gap: 10px;
    width: 103px;
    height: 49px;
    /* White */
    background: #FFFFFF;
    /* Inside auto layout */
    flex: none;
    order: 3;
    align-self: stretch;
    flex-grow: 0;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height, or 150% */
}

.content-column-five {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 8px 0px 16px;
    gap: 10px;
    width: 103px;
    height: 49px;
    /* Orange/$-Orange-50 */
    background: #FFF2E7;
    /* Inside auto layout */
    flex: none;
    order: 4;
    align-self: stretch;
    flex-grow: 0;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}

.content-column-six {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 8px 0px 16px;
    gap: 10px;
    width: 103px;
    height: 49px;
    /* White */
    background: #FFFFFF;
    /* Inside auto layout */
    flex: none;
    order: 5;
    align-self: stretch;
    flex-grow: 0;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}

.content-column-seven {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 8px 0px 16px;
    gap: 10px;
    width: 103px;
    height: 49px;
    /* Orange/$-Orange-50 */
    background: #FFF2E7;
    /* Inside auto layout */
    flex: none;
    order: 6;
    align-self: stretch;
    flex-grow: 0;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}

.content-column-eight {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 8px 0px 16px;
    gap: 10px;
    width: 103px;
    height: 49px;
    /* White */
    background: #FFFFFF;
    /* Inside auto layout */
    flex: none;
    order: 7;
    align-self: stretch;
    flex-grow: 0;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}

.content-column-nine {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 8px 0px 16px;
    gap: 10px;
    width: 103px;
    height: 49px;
    /* Orange/$-Orange-50 */
    background: #FFF2E7;
    /* Inside auto layout */
    flex: none;
    order: 8;
    align-self: stretch;
    flex-grow: 0;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}

.content-column-ten {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 8px 0px 16px;
    gap: 10px;
    width: 103px;
    height: 49px;
    /* White */
    background: #FFFFFF;
    /* Inside auto layout */
    flex: none;
    order: 9;
    align-self: stretch;
    flex-grow: 0;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}

.margin {
    width: 1px;
    height: 490px;
    /* Orange/$-Orange-100 */
    background: #FFE3CD;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    position: absolute;
    left: 126px;
}

.column-block-two {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 224px;
    height: 490px;
    flex: none;
    order: 2;
    position: absolute;
    flex-grow: 0;
    left: 154px;
    top: 11px;
}

.service-column-one {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 17px;
    gap: 10px;
    width: 224px;
    height: 49px;
    background: #FF9138;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    position: absolute;
    left: -27px;
    top: -11px;
}

.service-column-two {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 17px;
    gap: 10px;
    width: 224px;
    height: 49px;
    /* White */
    background: #FFFFFF;
    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height, or 150% */
    /* Gray/$-gray-400 Text */
    color: #535261;
    position: absolute;
    left: -27px;
    top: 38px;
}

.service-column-three {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 17px;
    gap: 10px;
    width: 224px;
    height: 49px;
    /* White */
    background: #FFF2E7;
    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height, or 150% */
    /* Gray/$-gray-400 Text */
    color: #535261;
    position: absolute;
    left: -27px;
    top: 87px;
}

.service-column-four {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 17px;
    gap: 10px;
    width: 224px;
    height: 49px;
    /* White */
    background: #FFFFFF;
    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height, or 150% */
    /* Gray/$-gray-400 Text */
    color: #535261;
    position: absolute;
    left: -27px;
    top: 136px;
}

.service-column-five {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 17px;
    gap: 10px;
    width: 224px;
    height: 49px;
    /* White */
    background: #FFF2E7;
    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height, or 150% */
    /* Gray/$-gray-400 Text */
    color: #535261;
    position: absolute;
    left: -27px;
    top: 186px;
}

.service-column-six {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 17px;
    gap: 10px;
    width: 224px;
    height: 49px;
    /* White */
    background: #FFFFFF;
    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height, or 150% */
    /* Gray/$-gray-400 Text */
    color: #535261;
    position: absolute;
    left: -27px;
    top: 235px;
}

.service-column-seven {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 17px;
    gap: 10px;
    width: 224px;
    height: 49px;
    /* White */
    background: #FFF2E7;
    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height, or 150% */
    /* Gray/$-gray-400 Text */
    color: #535261;
    position: absolute;
    left: -27px;
    top: 284px;
}

.service-column-eight {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 17px;
    gap: 10px;
    width: 224px;
    height: 49px;
    /* White */
    background: #FFFFFF;
    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height, or 150% */
    /* Gray/$-gray-400 Text */
    color: #535261;
    position: absolute;
    left: -27px;
    top: 333px;
}

.service-column-nine {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 17px;
    gap: 10px;
    width: 224px;
    height: 49px;
    /* White */
    background: #FFF2E7;
    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height, or 150% */
    /* Gray/$-gray-400 Text */
    color: #535261;
    position: absolute;
    left: -27px;
    top: 382px;
}

.service-column-ten {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 17px;
    gap: 10px;
    width: 224px;
    height: 49px;
    /* White */
    background: #FFFFFF;
    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height, or 150% */
    /* Gray/$-gray-400 Text */
    color: #535261;
    position: absolute;
    left: -27px;
    top: 430px;
}

.margin-two {
    width: 1px;
    height: 490px;
    /* Orange/$-Orange-100 */
    background: #FFE3CD;
    /* Inside auto layout */
    flex: none;
    order: 3;
    flex-grow: 0;
    position: absolute;
    left: 384px;
}

.column-block-three {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 230px;
    height: 490px;
    /* Inside auto layout */
    flex: none;
    order: 4;
    position: absolute;
    flex-grow: 0;
    left: 385px;
}

.service-column-one-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 17px;
    gap: 10px;
    width: 230px;
    height: 49px;
    /* Orange/$-Orange-400 */
    background: #FF9138;
    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    /* White */
    color: #FFFFFF;
}

.service-column-two-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 17px;
    gap: 10px;
    width: 230px;
    height: 49px;
    /* White */
    background: #FFFFFF;
    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height, or 150% */
    /* Gray/$-gray-400 Text */
    color: #535261;
    position: absolute;
    top: 49px;
}

.service-column-three-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 17px;
    gap: 10px;
    width: 230px;
    height: 49px;
    /* White */
    background: #FFF2E7;
    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height, or 150% */
    /* Gray/$-gray-400 Text */
    color: #535261;
    position: absolute;
    top: 99px;
}

.service-column-four-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 17px;
    gap: 10px;
    width: 230px;
    height: 49px;
    /* White */
    background: #FFFFFF;
    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height, or 150% */
    /* Gray/$-gray-400 Text */
    color: #535261;
    position: absolute;
    top: 147px;
}

.service-column-five-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 17px;
    gap: 10px;
    width: 230px;
    height: 49px;
    /* White */
    background: #FFF2E7;
    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height, or 150% */
    /* Gray/$-gray-400 Text */
    color: #535261;
    position: absolute;
    top: 197px;
}

.service-column-six-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 17px;
    gap: 10px;
    width: 230px;
    height: 49px;
    /* White */
    background: #FFFFFF;
    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height, or 150% */
    /* Gray/$-gray-400 Text */
    color: #535261;
    position: absolute;
    top: 246px;
}

.service-column-seven-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 17px;
    gap: 10px;
    width: 230px;
    height: 49px;
    /* White */
    background: #FFF2E7;
    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height, or 150% */
    /* Gray/$-gray-400 Text */
    color: #535261;
    position: absolute;
    top: 295px;
}

.service-column-eight-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 17px;
    gap: 10px;
    width: 230px;
    height: 49px;
    /* White */
    background: #FFFFFF;
    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height, or 150% */
    /* Gray/$-gray-400 Text */
    color: #535261;
    position: absolute;
    top: 345px;
}

.service-column-nine-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 17px;
    gap: 10px;
    width: 230px;
    height: 49px;
    /* White */
    background: #FFF2E7;
    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height, or 150% */
    /* Gray/$-gray-400 Text */
    color: #535261;
    position: absolute;
    top: 394px;
}

.service-column-ten-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 17px;
    gap: 10px;
    width: 230px;
    height: 49px;
    /* White */
    background: #FFFFFF;
    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height, or 150% */
    /* Gray/$-gray-400 Text */
    color: #535261;
    position: absolute;
    top: 442px;
}

.margin-three {
    width: 1px;
    height: 490px;
    /* Orange/$-Orange-100 */
    background: #FFE3CD;
    /* Inside auto layout */
    flex: none;
    order: 5;
    flex-grow: 0;
    position: absolute;
    left: 647px;
}

.column-block-four {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 214px;
    height: 490px;
    flex: none;
    order: 6;
    flex-grow: 0;
    position: absolute;
    left: 648px;
}

.column-block-four__text {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 8px;
    gap: 10px;
    width: 289px;
    height: 49px;
    /* Orange/$-Orange-400 */
    background: #FF9138;
    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    /* White */
    color: #FFFFFF;
}

.column-block-four__text-one {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 8px;
    gap: 10px;
    width: 289px;
    height: 49px;
    /* White */
    background: #FFFFFF;
    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height, or 150% */
    display: flex;
    align-items: center;
    /* Gray/$-gray-400 Text */
    color: #535261;
}

.column-block-four__text-two {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 8px;
    gap: 10px;
    width: 289px;
    height: 49px;
    /* Orange/$-Orange-50 */
    background: #FFF2E7;
    /* Inside auto layout */
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height, or 150% */
    display: flex;
    align-items: center;
    /* Gray/$-gray-400 Text */
    color: #535261;
}

.column-block-four__text-three {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 8px;
    gap: 10px;
    width: 289px;
    height: 49px;
    /* White */
    background: #FFFFFF;
    /* Inside auto layout */
    flex: none;
    order: 3;
    align-self: stretch;
    flex-grow: 0;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height, or 150% */
    display: flex;
    align-items: center;
    /* Gray/$-gray-400 Text */
    color: #535261;
}

.column-block-four__text-four {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 8px;
    gap: 10px;
    width: 289px;
    height: 49px;
    /* Orange/$-Orange-50 */
    background: #FFF2E7;
    /* Inside auto layout */
    flex: none;
    order: 4;
    align-self: stretch;
    flex-grow: 0;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height, or 150% */
    display: flex;
    align-items: center;
    /* Gray/$-gray-400 Text */
    color: #535261;
}

.column-block-four__text-five {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 8px;
    gap: 10px;
    width: 289px;
    height: 49px;
    /* White */
    background: #FFFFFF;
    /* Inside auto layout */
    flex: none;
    order: 5;
    align-self: stretch;
    flex-grow: 0;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height, or 150% */
    display: flex;
    align-items: center;
    /* Gray/$-gray-400 Text */
    color: #535261;
}

.column-block-four__text-six {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 8px;
    gap: 10px;
    width: 289px;
    height: 49px;
    /* Orange/$-Orange-50 */
    background: #FFF2E7;
    /* Inside auto layout */
    flex: none;
    order: 6;
    align-self: stretch;
    flex-grow: 0;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height, or 150% */
    display: flex;
    align-items: center;
    /* Gray/$-gray-400 Text */
    color: #535261;
}

.column-block-four__text-seven {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 8px;
    gap: 10px;
    width: 289px;
    height: 49px;
    /* White */
    background: #FFFFFF;
    /* Inside auto layout */
    flex: none;
    order: 7;
    align-self: stretch;
    flex-grow: 0;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height, or 150% */
    display: flex;
    align-items: center;
    /* Gray/$-gray-400 Text */
    color: #535261;
}

.column-block-four__text-eight {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 8px;
    gap: 10px;
    width: 289px;
    height: 49px;
    /* Orange/$-Orange-50 */
    background: #FFF2E7;
    /* Inside auto layout */
    flex: none;
    order: 8;
    align-self: stretch;
    flex-grow: 0;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height, or 150% */
    display: flex;
    align-items: center;
    /* Gray/$-gray-400 Text */
    color: #535261;
}

.column-block-four__text-nine {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 8px;
    gap: 10px;
    width: 289px;
    height: 49px;
    /* White */
    background: #FFFFFF;
    /* Inside auto layout */
    flex: none;
    order: 9;
    align-self: stretch;
    flex-grow: 0;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height, or 150% */
    display: flex;
    align-items: center;
    /* Gray/$-gray-400 Text */
    color: #535261;
}

.margin-four {
    width: 1px;
    height: 490px;
    background: #FFE3CD;
    flex: none;
    order: 5;
    flex-grow: 0;
    position: absolute;
    left: 953px;
}

.column-block-seven__text {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 17px;
    gap: 10px;
    width: 82px;
    height: 49px;
    /* Orange/$-Orange-400 */
    background: #FF9138;
    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.column-block-seven {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 82px;
    height: 490px;
    /* Inside auto layout */
    flex: none;
    order: 12;
    flex-grow: 0;
    position: absolute;
    left: 954px;
}

.column-block-seven__text-one {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 17px;
    gap: 10px;
    width: 82px;
    height: 49px;
    /* White */
    background: #FFFFFF;
    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.column-block-seven__text-one span {
    /* 14/14 Reg Underline */
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height, or 150% */
    text-decoration-line: underline;
    /* Blue */
    color: #4277FF;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.column-block-seven__text-two {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 17px;
    gap: 10px;
    width: 83px;
    height: 49px;
    /* Orange/$-Orange-50 */
    background: #FFF2E7;
    /* Inside auto layout */
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

.column-block-seven__text-two span {
    /* 14/14 Reg Underline */
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height, or 150% */
    text-decoration-line: underline;
    /* Blue */
    color: #4277FF;
    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
}

.column-block-seven__text-three {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 17px;
    gap: 10px;
    width: 82px;
    height: 49px;
    /* White */
    background: #FFFFFF;
    /* Inside auto layout */
    flex: none;
    order: 3;
    align-self: stretch;
    flex-grow: 0;
}

.column-block-seven__text-three span {
    /* 14/14 Reg Underline */
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height, or 150% */
    text-decoration-line: underline;
    /* Blue */
    color: #4277FF;
    /* Inside auto layout */
    flex: none;
    order: 3;
    flex-grow: 0;
}

.column-block-seven__text-four {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 17px;
    gap: 10px;
    width: 83px;
    height: 49px;
    /* Orange/$-Orange-50 */
    background: #FFF2E7;
    /* Inside auto layout */
    flex: none;
    order: 4;
    align-self: stretch;
    flex-grow: 0;
}

.column-block-seven__text-four span {
    /* 14/14 Reg Underline */
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height, or 150% */
    text-decoration-line: underline;
    /* Blue */
    color: #4277FF;
    /* Inside auto layout */
    flex: none;
    order: 4;
    flex-grow: 0;
}

.column-block-seven__text-five {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 17px;
    gap: 10px;
    width: 82px;
    height: 49px;
    /* White */
    background: #FFFFFF;
    /* Inside auto layout */
    flex: none;
    order: 5;
    align-self: stretch;
    flex-grow: 0;
}

.column-block-seven__text-five span {
    /* 14/14 Reg Underline */
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height, or 150% */
    text-decoration-line: underline;
    /* Blue */
    color: #4277FF;
    /* Inside auto layout */
    flex: none;
    order: 5;
    flex-grow: 0;
}

.column-block-seven__text-six {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 17px;
    gap: 10px;
    width: 83px;
    height: 49px;
    /* Orange/$-Orange-50 */
    background: #FFF2E7;
    /* Inside auto layout */
    flex: none;
    order: 6;
    align-self: stretch;
    flex-grow: 0;
}

.column-block-seven__text-six span {
    /* 14/14 Reg Underline */
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height, or 150% */
    text-decoration-line: underline;
    /* Blue */
    color: #4277FF;
    /* Inside auto layout */
    flex: none;
    order: 6;
    flex-grow: 0;
}

.column-block-seven__text-seven {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 17px;
    gap: 10px;
    width: 82px;
    height: 49px;
    /* White */
    background: #FFFFFF;
    /* Inside auto layout */
    flex: none;
    order: 7;
    align-self: stretch;
    flex-grow: 0;
}

.column-block-seven__text-seven span {
    /* 14/14 Reg Underline */
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height, or 150% */
    text-decoration-line: underline;
    /* Blue */
    color: #4277FF;
    /* Inside auto layout */
    flex: none;
    order: 7;
    flex-grow: 0;
}

.column-block-seven__text-eight {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 17px;
    gap: 10px;
    width: 83px;
    height: 49px;
    /* Orange/$-Orange-50 */
    background: #FFF2E7;
    /* Inside auto layout */
    flex: none;
    order: 8;
    align-self: stretch;
    flex-grow: 0;
}

.column-block-seven__text-eight span {
    /* 14/14 Reg Underline */
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height, or 150% */
    text-decoration-line: underline;
    /* Blue */
    color: #4277FF;
    /* Inside auto layout */
    flex: none;
    order: 8;
    flex-grow: 0;
}

.column-block-seven__text-nine {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 17px;
    gap: 10px;
    width: 82px;
    height: 49px;
    /* White */
    background: #FFFFFF;
    /* Inside auto layout */
    flex: none;
    order: 9;
    align-self: stretch;
    flex-grow: 0;
}

.column-block-seven__text-nine span {
    /* 14/14 Reg Underline */
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height, or 150% */
    text-decoration-line: underline;
    /* Blue */
    color: #4277FF;
    /* Inside auto layout */
    flex: none;
    order: 9;
    flex-grow: 0;
}

.margin-seven {
    width: 1px;
    height: 490px;
    background: #FFE3CD;
    flex: none;
    order: 5;
    flex-grow: 0;
    position: absolute;
    left: 1071px;
}

.column-block-eight {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 106px;
    height: 490px;
    /* Inside auto layout */
    flex: none;
    order: 14;
    flex-grow: 0;
    position: absolute;
    left: 1071px;
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 288px;
    height: 32px;
    left: 896px;
    top: 522px;
}

.footer-text-one {
    width: 32px;
    height: 32px;
    /* Orange/$-Orange-500 */
    background: #FF7506;
    border-radius: 4px;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */
    color: #FFFFFF;
    position: absolute;
    top: -8px;
    left: 21px;
}

.footer-text-one span {
    position: absolute;
    top: 3px;
    left: 13px;
}

.footer-text-two {
    width: 32px;
    height: 32px;
    border-radius: 4px;
    flex: none;
    order: 2;
    flex-grow: 0;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #7E7D88;
    position: absolute;
    top: -4px;
    left: 71px;
}

.footer-text-three {
    width: 32px;
    height: 32px;
    border-radius: 4px;
    flex: none;
    order: 2;
    flex-grow: 0;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #7E7D88;
    position: absolute;
    top: -4px;
    left: 106px;
}

.footer-text-four {
    width: 32px;
    height: 32px;
    border-radius: 4px;
    flex: none;
    order: 2;
    flex-grow: 0;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #7E7D88;
    position: absolute;
    top: -4px;
    left: 143px;
}

.footer-text-five {
    width: 32px;
    height: 32px;
    border-radius: 4px;
    flex: none;
    order: 2;
    flex-grow: 0;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #7E7D88;
    position: absolute;
    top: -4px;
    left: 180px;
}

.footer-text-six {
    width: 32px;
    height: 32px;
    border-radius: 4px;
    flex: none;
    order: 2;
    flex-grow: 0;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #7E7D88;
    position: absolute;
    top: -4px;
    left: 212px;
}

.footer-text-seven {
    width: 32px;
    height: 32px;
    border-radius: 4px;
    flex: none;
    order: 2;
    flex-grow: 0;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #7E7D88;
    position: absolute;
    top: -4px;
    left: 248px;
}

.footer-text-eight {
    position: absolute;
    top: 0px;
    left: 282px;
}

.rightbar-add {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px 4px;
    gap: 4px;
    position: absolute;
    width: 65px;
    height: 94px;
    left: 1669px;
    top: -6px;
    background: #FFF2E7;
    box-shadow: 0px 0px 6px #e7e9f2;
    border-radius: 8px 0px 0px 8px;
    z-index: 10;
    text-decoration: none;
}

.add-device {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    /* Orange/$-Orange-500 */
    color: #FF7506;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}