.detailPage {
    position: relative;
    left: 202px;
    width: 1824px;
    height: 812px;
    opacity: 0.1;
    background: #B1B1B1;
    display: flex;
    z-index: 1;
}

.topbar {
    position: relative;
    width: 1825px;
    height: 88px;
    left: 0px;
    top: 0px;
    z-index: 2;
}

.device-text {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #7E7D88;
    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 10;
    position: absolute;
    top: -794px;
    left: 218px;
}

.logo-next {
    position: absolute;
    top: -784px;
    left: 303px;
}

.device-index {
    position: absolute;
    top: -794px;
    left: 323px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */
    /* Orange/$-Orange-500 */
    color: #FF7506;
}

.logo-next-two {
    position: absolute;
    top: -784px;
    left: 497px;
}

.add-device {
    position: absolute;
    top: -794px;
    left: 518px;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #FF7506;
}

.logo-ring {
    position: absolute;
    width: 32px;
    height: 32px;
    right: 94px;
    top: -797px;
}

.img-bar {
    background-image: url('../../../../img/unsplash_Fyl8sMC2j2Q.png');
    width: 40px;
    height: 40px;
    right: 27px;
    top: -804px;
    position: absolute;
}

.hello-bar {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #7E7D88;
    width: 56px;
    height: 40px;
    right: -41px;
    top: -804px;
    position: absolute;
}

.name-bar {
    width: 135px;
    height: 40px;
    right: -119px;
    top: -787px;
    position: absolute;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #535261;
}

.device-index-S {
    position: absolute;
    width: 200px;
    height: 36px;
    left: 221px;
    top: -723px;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #FF7506;
}

.content-block {
    position: absolute;
    width: 1709px;
    height: 604px;
    left: 224px;
    top: 156px;
    /* White */
    background: #FFFFFF;
    /* Shadowbox */
    box-shadow: 2px 2px 8px rgba(232, 239, 244, 0.8);
    border-radius: 16px;
}

.info {
    position: absolute;
    width: 160px;
    height: 30px;
    left: 24px;
    top: 16px;
    /* 20/20 Bold */
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */
    /* Orange/$-Orange-500 */
    color: #FF7506;
}

.code-device {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #282739;
    flex: none;
    order: 0;
    flex-grow: 0;
    position: absolute;
    top: 61px;
    left: 26px;
}

.code-device-content {
    position: absolute;
    width: 54px;
    height: 24px;
    left: 148px;
    top: 60px;
    /* 16/16 Reg */
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    display: flex;
    align-items: center;
    /* Gray/$-gray-400 Text */
    color: #535261;
}

.name-code-device {
    position: absolute;
    width: 85px;
    height: 24px;
    left: 24px;
    top: 106px;
    /* 16/16 Semi */
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    display: flex;
    align-items: center;
    /* Gray/$-gray-500 */
    color: #282739;
}

.name-code-content {
    position: absolute;
    width: 39px;
    height: 24px;
    left: 148px;
    top: 104px;
    /* 16/16 Reg */
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    display: flex;
    align-items: center;
    /* Gray/$-gray-400 Text */
    color: #535261;
}

.address {
    position: absolute;
    width: 74px;
    height: 24px;
    left: 30px;
    top: 146px;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #282739;
}

.address-content {
    position: absolute;
    width: 94px;
    height: 24px;
    left: 148px;
    top: 146px;
    /* 16/16 Reg */
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    display: flex;
    align-items: center;
    /* Gray/$-gray-400 Text */
    color: #535261;
}

.service {
    position: absolute;
    width: 122px;
    height: 24px;
    left: 30px;
    top: 186px;
    /* 16/16 Semi */
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    display: flex;
    align-items: center;
    /* Gray/$-gray-500 */
    color: #282739;
}

.service-content {
    position: absolute;
    width: 795px;
    height: 24px;
    left: 31px;
    top: 218px;
    /* 16/16 Reg */
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    display: flex;
    align-items: center;
    /* Gray/$-gray-400 Text */
    color: #535261;
}

.type-service {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    display: flex;
    align-items: center;
    /* Gray/$-gray-500 */
    color: #282739;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    position: absolute;
    width: 197px;
    height: 24px;
    left: 568px;
    top: 49px;
}

.type-service-content {
    position: absolute;
    width: 39px;
    height: 24px;
    left: 726px;
    top: 49px;
    /* 16/16 Reg */
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    display: flex;
    align-items: center;
    /* Gray/$-gray-400 Text */
    color: #535261;
}

.loggin-name {
    position: absolute;
    width: 112px;
    height: 24px;
    left: 568px;
    top: 106px;
    /* 16/16 Semi */
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    display: flex;
    align-items: center;
    /* Gray/$-gray-500 */
    color: #282739;
}

.loggin-name-content {
    position: absolute;
    width: 85px;
    height: 24px;
    left: 726px;
    top: 106px;
    /* 16/16 Reg */
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    display: flex;
    align-items: center;
    /* Gray/$-gray-400 Text */
    color: #535261;
}

.password {
    position: absolute;
    width: 73px;
    height: 24px;
    left: 568px;
    top: 146px;
    /* 16/16 Semi */
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    display: flex;
    align-items: center;
    /* Gray/$-gray-500 */
    color: #282739;
}

.password-content {
    position: absolute;
    width: 35px;
    height: 24px;
    left: 726px;
    top: 146px;
    /* 16/16 Reg */
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    display: flex;
    align-items: center;
    /* Gray/$-gray-400 Text */
    color: #535261;
}

.right-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px 4px;
    gap: 4px;
    position: absolute;
    width: 80px;
    height: 94px;
    left: 1939px;
    top: 156px;
    /* Orange/$-Orange-50 */
    background: #FFF2E7;
    /* down */
    box-shadow: 0px 0px 6px #E7E9F2;
    border-radius: 8px 0px 0px 8px;
}

.right-bar-text {
    width: 72px;
    height: 38px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    /* Orange/$-Orange-500 */
    color: #FF7506;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}