.logo-alta {
  position: absolute;
  width: 170px;
  height: 136px;
  left: 283px;
  top: 82px;
  z-index: 1;
}

.forgetPassword-login {
  background-color: #B1B1B1;
  position: absolute;
  width: 40%;
  height: 120%;
  left: 0px;
  top: 0px;
  opacity: 0.1;
}

.setpassword {
  position: absolute;
  left: 13.6%;
  right: 73.68%;
  top: 51.51%;
  bottom: 57.53%;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: #282739;
}

.setemail {
  position: absolute;
  width: 396px;
  height: 27px;
  left: 174px;
  top: 360px;
  /* 18/18 Reg */
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height, or 150% */
  color: #37474F;
}

.input-email {
  box-sizing: border-box;
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 270px 10px 12px;
  gap: 10px;
  position: absolute;
  width: 400px;
  height: 44px;
  left: 153px;
  top: 391px;
  /* white */
  background: #FFFFFF;
  /* Gray/$-gray-100 */
  border: 1.5px solid #D4D4D7;
  border-radius: 8px;
}
